body{
	margin: 0px;
}
body *{
	font-size: 24px;
	font-family: Comic Sans MS;
	box-sizing: border-box;
}

/*Календарь*/
.central_block{
	width: 50%;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
	position: relative;
}
.calendar > .arrow{
	position: absolute;
	font-family: Webdings;
	top: calc(50% - 25px);
	cursor: pointer;
	font-size: 60px;
}
.calendar > .arrow.left {
	left: -50px;
}
.calendar > .arrow.right {
	right: -50px;
}
.calendar > .block_slider{
	position: relative;
}
.month{
	display: none;
}
.month.active{
	display: unset;
}
.month_title{
	margin-bottom: 12px;
	border-bottom: 1px solid #000;
	font-weight: 600;
}
.month_body > span, .month_weekday > span{
	position: relative;
	display: inline-block;
	width: 14%;
	text-align: right;
	padding: 0 4%;
}
.month_body .holiday{
	background-color: #ff8080;
}
.month_body .select_date{
	background-color: #808080;
}
.event_list:after, .schedule_list:before{
	display: inline;
	position: absolute;
	right: 0px;
	top: 0px;
	content: "";
	width: 6px;
	height: 6px;
	background-color: #000080;
    border-radius: 6px;
}
.schedule_list:before{
	background-color: #008000;
}
.event_list.schedule_list:before{
	right: 8px;
}
@media screen and (max-width: 400px){
	.calendar > .arrow{
		position: unset;
		width: 50%;
    	display: inline-block;
	}
	.calendar > .arrow.right {
		text-align: right;
	}
}
/*Табы*/
.tabs_list{
	margin-top: 40px; 
}
.tabs_list .tab{
	display: none;
}
.tabs_list input[name="tab_radio"]{
	display:none;
}
.tabs_list > ul{
	padding: 0px;
}
.tabs_list > ul > li{
	cursor: pointer;
	list-style: none;
	display: inline;
}
.link_tab{
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.link_tab:after{
	display: inline;
	position: absolute;
	content: "";
	width: 6px;
	height: 6px;
	background-color: #008000;
    border-radius: 6px;
}
.link_tab[for="tab_radio_2"]:after{
	background-color: #000080;
}
#tab_radio_1:checked ~ #tab_1{
	display: unset;
}
#tab_radio_1:checked ~ ul label[for="tab_radio_1"]{
	text-decoration: underline;
}
#tab_radio_2:checked ~ ul label[for="tab_radio_2"]{
	text-decoration: underline;
}
#tab_radio_2:checked ~ #tab_2{
	display: unset;
}
.tabs_list .event{
	margin-bottom: 10px;
}
#tab_2 .event span:nth-child(1){
    width: 24%;
    display: inline-block;
}
#tab_2 .event span:nth-child(2){
    width: 70%;
    display: inline-block;
}
#tab_1 .event span:nth-child(1){
    width: 32%;
    display: inline-block;
}
#tab_1 .event span:nth-child(2){
    width: 63%;
    display: inline-block;
}
.tabs_list .event .remove:before{
	content: "x";
	color: #ff8080;
	cursor: pointer;
}

/*Форма*/
.popup{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	/*width: max-content;*/
	min-width: 100vw;
	height: max-content;
	min-height: 100vh;
	background-color: rgb(0,0,0, 0.9);
}
.event_form{
	background-color: #fff;
	padding: 20px;
    margin: auto;
}
.event_form .event_block{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.event_form .event_block input[type="text"], .event_form .event_block select{
	width: 100%;
}
.footer{
	height: 40px;
}